  a {
      text-decoration: none;
      color: black;
      color: rgba(255, 255, 255, .8);
  }

  a:hover {
      color: red;
      text-decoration: none;
  }

  nav {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 0;
      box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
      border-bottom: 1px solid #000;
      color: rgba(255, 255, 255, .8);
  }

  .nav-logo {
      font-size: 25px;
      margin: 1rem;
  }

  .nav-links {
      list-style-type: none;
      display: flex;
      font-size: 25px;
      color: black;
      padding-right: 0.5rem;
      margin: 1rem;
  }

  .nav-link {
      margin-right: 1rem;
  }