  a {
      text-decoration: none;
      color: black;
      color: rgba(255, 255, 255, .8);
  }

  a:hover {
      color: red;
      text-decoration: none;
  }

  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
      box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
      border-bottom: 1px solid #000;
      color: rgba(255, 255, 255, .8);
      background-color: rgb(20, 20, 20);
      height: 7vh;
  }

  .hamburger {
      display: none;
  }

  .nav-logo {
      font-size: 35px;
      margin-left: 1rem;
      /* align-self: flex-end; */
      font-family: 'Merriweather', serif;

  }

  .nav-links {
      list-style-type: none;
      display: flex;
      font-size: 21px;
      color: black;
      padding-right: 0.5rem;
      margin: 1rem;
      cursor: pointer;
  }

  .nav-link {
      margin: 1rem 1.5rem;
  }

  .icon-container {
      margin-left: auto;
      margin-right: 3rem;
  }

  .nav-icon {
      color: rgba(255, 255, 255, .8);
      font-size: 25px;
      cursor: pointer;
      width: 100%;
  }

  .nav-icon:hover {
      color: red;
  }

  @media all and (max-width: 800px) {

      .nav-logo h2 {
          font-size: 25px;
          justify-self: center;
          /* align-self: center; */
          margin: 2rem 0;

      }

      .hamburger {
          display: block;
          font-size: 3rem;
          margin: 2rem;
          cursor: pointer;
      }

      nav {
          justify-content: space-between;
      }

      .nav-links {
          display: none;
      }

      .icon-container {
          margin: 2rem;
      }

  }

  @media all and (max-width: 350px) {

      .nav-logo h2 {
          font-size: 15px;

      }
  }