.netflix-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* height: 43vh; */
}

.netflix-slider {
    --items-per-screen: 6;
    display: flex;
    flex-grow: 1;
    width: 98%;
    transition: transform 250ms ease-in;
}

.netflix-slider img {
    flex: 0 0 18%;
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 17/21;
    padding: .5rem;
}

.handle {
    width: 5rem;
    flex-grow: 0;
    background-color: transparent;
    background-color: rgba(255, 255, 255, .25);
    /* margin: 0 .65rem; */
    z-index: 10;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.netflix-container button {
    margin: auto 0;
}

.handle:hover {
    background-color: rgba(0, 0, 0, .55);
}

@media (max-width: 1000px) {
    .netflix-slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 500px) {
    .netflix-slider {
        --items-per-screen: 2;
    }
}