.index-bar {
    display: flex;
    gap: .5rem;
}

.index-item {
    flex: 0 0 2rem;
    min-width: 2rem;
    height: .35rem;
    background-color: rgba(255, 255, 255, .5);

}

.index-item.active {
    flex: 0 0 2rem;
    min-width: 2rem;
    background-color: rgba(255, 255, 255, .9);

}

.netflix-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* height: 43vh; */
}

.netflix-slider {
    --items-per-screen: 6;
    display: flex;
    flex-grow: 1;
    width: 98%;
    transition: transform 250ms ease-in;
}

.netflix-slider img {
    flex: 0 0 18%;
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 17/23;
    padding: .5rem;

}

.netflix-slider img:hover {
    transform: scale(1.1);
    transition: ease-in .27s;
    cursor: pointer;
}

.handle {
    display: flex;
    width: 5rem;
    flex-grow: 0;
    background-color: transparent;
    background-color: rgba(255, 255, 255, .25);
    z-index: 10;
    font-size: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.netflix-container button {
    margin: auto 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba(255, 255, 255, .5);
}


@media (max-width: 1000px) {
    .netflix-slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 500px) {
    .netflix-slider {
        --items-per-screen: 2;
    }
}