.slide img {
    /* width: 10rem; */
    height: 33rem;
}

.sec {
    padding-left: 1rem;
}

/* .sec button {

    background-color: black;
    color: grey;
} */

.sec h2 {
    padding-left: 0.55rem;
}